<link rel="stylesheet" href="/public/css/payment.css">
<div class="container">
    <div class="row">
        <div id="body">
            <div id="card-success" class="hidden">
                <i class="fa fa-check"></i>
                <p>Payment Successful!</p>
            </div>
            <div id="form-errors" class="hidden">
                <i class="fa fa-exclamation-triangle"></i>
                <p id="card-error">Card error</p>
            </div>
            <div id="form-container">

                <div id="card-front">
                    <div id="shadow"></div>
                    <div id="image-container">
                        <span id="amount">paying: <strong>$99</strong></span>
                        <span>
                            <img src="/public/image/page/card.jpg" alt="cardImage" id="card-image">
                        </span>
                    </div>
                    <!--- end card image container --->

                    <label for="card-number">
                        Card Number
                    </label>
                    <input type="text" id="card-number" placeholder="1234 5678 9101 1112" length="16">
                    <div id="cardholder-container">
                        <label for="card-holder">Card Holder
                        </label>
                        <input type="text" id="card-holder" placeholder="e.g. John Doe" />
                    </div>
                    <!--- end card holder container --->
                    <div id="exp-container">
                        <label for="card-exp">
                            Expiration
                        </label>
                        <input id="card-month" type="text" placeholder="MM" length="2">
                        <input id="card-year" type="text" placeholder="YY" length="2">
                    </div>
                    <div id="cvc-container">
                        <label for="card-cvc"> CVC/CVV</label>
                        <input id="card-cvc" placeholder="XXX-X" type="text" min-length="3" max-length="4">
                        <p>Last 3 or 4 digits</p>
                    </div>
                    <!--- end CVC container --->
                    <!--- end exp container --->
                </div>
                <!--- end card front --->
                <div id="card-back">
                    <div id="card-stripe">
                    </div>

                </div>
                <!--- end card back --->
                <input type="text" id="card-token" />
                {{!-- <button type="button" id="card-btn">Submit</button> --}}
                <div class="payment-row row" data-name="{{boothNum}}">
                    <form id="paySuccess">
                        <button class="btn btn-light" type="button" onclick="history.go(-1);" id="card-btn1">Back</button>
                        <button class="btn btn-light" type="submit" id="card-btn2">Submit</button>
                    </form>
                </div>

            </div>
            <!--- end form container --->

            <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
            <script src="https://use.fontawesome.com/f1e0bf0cbc.js"></script>




        </div>
    </div>


    {{!-- <div class="payment-row row" data-name="{{boothNum}}">
        <form id="paySuccess">
            <button class="btn btn-light" type="button" onclick="history.go(-1);">Back</button>
            <button class="btn btn-light" type="submit">Submit</button>
        </form>
    </div> --}}
</div>
<script>
    $("#paySuccess").submit(function (e) {
        e.preventDefault();
        var id = $(".payment-row").attr("data-name");
        $.ajax({
            type: "post",
            url: "/exhibitor/pay",
            dataType: "json",
            data: {
                id: id,
                success: "y"
            },
            success: function (res) {
                var vendor = res["vendor"];
                var exhibitor = res["exhibitor"];
                var showName = res["showName"];
                var origin = window.location.hostname;
                var ws = new WebSocket('ws://' + origin + ':8080');
                var message = showName + "'s progress is updated! Refresh this page to check you progress!||" + exhibitor + "||" + vendor;
                ws.onopen = function (e) {
                    ws.send(message);
                }
                $(location).attr("href", "/exhibitor/show?id=" + id);
            },
            error: function (err) {
                $(location).attr("href", "error");
            }
        });
    });
    /*$("#acceptBox").click(function() {
        if($(this).prop("checked")) {
            $("button[type=submit]").prop("disabled", false);
        }
        else {
            $("button[type=submit]").prop("disabled", true);
        }
    });*/
</script>