<div class="container">
    <div class="row">

    </div>
    <div class="payment-row row" data-name="{{boothNum}}">
        <form id="paySuccess">
            <button class="btn btn-light" type="button" onclick="history.go(-1);">Back</button>
            <button class="btn btn-light" type="submit">Submit</button>
        </form>
    </div>
</div>
<script>
    $("#paySuccess").submit(function(e) {
        e.preventDefault();
        var id = $(".payment-row").attr("data-name");
        $.ajax({
            type: "post",
            url: "/exhibitor/pay",
            dataType: "json",
            data: {
                id: id,
                success: "y"
            },
            success: function(res) {
                var vendor = res["vendor"];
                var exhibitor = res["exhibitor"];
                var showName = res["showName"];
                var origin = window.location.hostname;
                var ws = new WebSocket('ws://' + origin + ':8080');
                var message = showName + "'s progress is updated! Refresh this page to check you progress!||" + exhibitor + "||" + vendor;
                ws.onopen = function(e) {
                    ws.send(message);
                }
                $(location).attr("href", "/exhibitor/show?id=" + id);
            },
            error: function(err) {
                $(location).attr("href", "error");
            }
        });
    });
    /*$("#acceptBox").click(function() {
        if($(this).prop("checked")) {
            $("button[type=submit]").prop("disabled", false);
        }
        else {
            $("button[type=submit]").prop("disabled", true);
        }
    });*/
</script>