<div class="container" style="padding-top: 50px;">
    <p>The Guitar Tabs has been {{operation}}!</p>
    <span id="totalSecond">5</span>
    <span id="second"> Seconds</span>
    <span> later to go back homepage!</span>
</div>
<script language="javascript" src="/public/js/autourl.js"></script>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        var fun = auto;
        fun("/");
    }
</script>