<div class="container">
    <p>{{user}}{{operation}}</p></br>
    <span id="totalSecond">5</span>
    <span id="second"> Seconds</span>
    <span id="nextcontent"> later to go back homepage!</span>
</div>

<script language="javascript" src="/public/js/autourl.js"> </script>
<script language="javascript" type="text/javascript">
    window.onload = function () {
        var fun = auto;
        fun("/");
    }
</script>
