<p>{{error}}</p>


<div class="container">
    <h4>Category</h4>
    <div class="row">
    <div class="col-lg-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Light&page=1">
        <img src="/public/image/categoryImage/cabin.png" /></br>
        <h4>Light</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Table&page=1">
        <img src="/public/image/categoryImage/carpet.png" /></br>
        <h4>Table</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Stage&page=1">
        <img src="/public/image/categoryImage/kit.png" /></br>
        <h4>Stage</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Lighting&page=1">
        <img src="/public/image/categoryImage/light.png" /></br>
        <h4>Lighting</h4>
        </a>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Tile&page=1">
        <img src="/public/image/categoryImage/tile.png" /></br>
        <h4>Tile</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Plant&page=1">
        <img src="/public/image/categoryImage/tree.png" /></br>
        <h4>Plant</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Wall&page=1">
        <img src="/public/image/categoryImage/wall.png" /></br>
        <h4>Wall</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Deco&page=1">
        <img src="/public/image/categoryImage/wallpaper.png" /></br>
        <h4>Deco</h4>
        </a>
    </div>
    </div>
</div>