<p>{{error}}</p>


<div class="container">
    <h4>Category</h4>
    <div class="row">
    <div class="col-md-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Light&page=1">
        <img src="/public/image/C.png" /></br>
        <h4>Light</h4>
        </a>
    </div>
    <div class="col-md-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Table&page=1">
        <img src="/public/image/Dm.png" /></br>
        <h4>Table</h4>
        </a>
    </div>
    <div class="col-md-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Stage&page=1">
        <img src="/public/image/F.png" /></br>
        <h4>Stage</h4>
        </a>
    </div>
    <div class="col-md-3 mb-3" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=KKKK&page=1">
        <img src="/public/image/F.png" /></br>
        <h4>KKKK</h4>
        </a>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=Flower&page=1">
        <img src="/public/image/C7.png" /></br>
        <h4>Flower</h4>
        </a>
    </div>
    <div class="col-md-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=FFF&page=1">
        <img src="/public/image/D.png" /></br>
        <h4>FFF</h4>
        </a>
    </div>
    <div class="col-md-3 mb-2" style="text-align: center;">
        <a class="btn btn-link" href="/categories/find?category=GGGG&page=1">
        <img src="/public/image/A.png" /></br>
        <h4>GGGG</h4>
        </a>
    </div>
    </div>
</div>