<p>{{error}}</p>


<div class="container">
    <h4>Category</h4>
    <div class="row">
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=Light&page=1">
        <img src="/public/image/C.png" style="width: 200px; height: 200px"/></br>
        <h4>Light</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=Table&page=1">
        <img src="/public/image/Dm.png" style="width: 200px; height: 200px"/></br>
        <h4>Table</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=Stage&page=1">
        <img src="/public/image/F.png" style="width: 200px; height: 200px"/></br>
        <h4>Stage</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=KKKK&page=1">
        <img src="/public/image/F.png" style="width: 200px; height: 200px" /></br>
        <h4>KKKK</h4>
        </a>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=Flower&page=1">
        <img src="/public/image/C7.png" style="width: 200px; height: 200px"/></br>
        <h4>Flower</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=FFF&page=1">
        <img src="/public/image/D.png" style="width: 200px; height: 200px"/></br>
        <h4>FFF</h4>
        </a>
    </div>
    <div class="col-lg-3 mb-3" style="text-align: center;" onmouseover="style.backgroundColor='#D3D3D3'" onmouseout="style.backgroundColor='#FFFFFF'">
        <a class="btn btn-link text-dark" href="/categories/find?category=GGGG&page=1">
        <img src="/public/image/A.png" style="width: 200px; height: 200px"/></br>
        <h4>GGGG</h4>
        </a>
    </div>
    </div>
</div>