<div class="container">
    <div class="contractText row" data-name="{{boothNum}}" data-link="{{voe}}">
        {{!-- <p>
            sdadasdd
            dsadfsaf
            fsaf
            ga
            sggagasg
            dsa
        </p> --}}
        <embed src="/public/contract/ProfessionalServiceContract.pdf" type="application/pdf" width="1200px" height="1000px" />
    </div>
    <div class="row">
        <form id="acceptContract">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="acceptBox" value="y">
                <label class="form-check-label" for="acceptBox">I will accept and obey this contract.</label>
            </div>
            <button class="btn btn-light" type="button" onclick="history.go(-1);">Back</button>
            <button class="btn btn-light" type="submit" disabled="true">Submit</button>
        </form>
    </div>
</div>
<script>
    $("#acceptContract").submit(function(e) {
        e.preventDefault();
        var accept = $("#acceptBox").val();
        var voe = $(".contractText").attr("data-link");
        var id = $(".contractText").attr("data-name");
        $.ajax({
            type: "post",
            url: "/" + voe + "/acceptContract",
            dataType: "json",
            data: {
                id: id,
                accept: accept
            },
            success: function(res) {
                var vendor = res["vendor"];
                var exhibitor = res["exhibitor"];
                var showName = res["showName"];
                var origin = window.location.hostname;
                var ws = new WebSocket('ws://' + origin + ':8080');
                var message = "";
                if(voe == "exhibitor")
                    message = showName + "'s progress is updated! Refresh this page to check you progress!||" + exhibitor + "||" + vendor;
                else
                    message = showName + "'s progress is updated! Refresh this page to check you progress!||" + vendor + "||" + exhibitor;
                ws.onopen = function(e) {
                    ws.send(message);
                }
                $(location).attr("href", "/" + voe + "/show?id=" + id);
            },
            error: function(err) {
                $(location).attr("href", "error");
            }
        });
    });
    $("#acceptBox").click(function() {
        if($(this).prop("checked")) {
            $("button[type=submit]").prop("disabled", false);
        }
        else {
            $("button[type=submit]").prop("disabled", true);
        }
    })
</script>