<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <p>Exhibitor</p>
            <button>Sign In</button>
        </div>
        <div class="col-md-6 mb-3">
            <p>Vendor</p>
            <button>Sign Up</button>
        </div>
    </div>
    <div class="row">
        intro
    </div>
    <div class="row">
        details
    </div>
</div>