<link rel="stylesheet" href="../../public/css/numberAnimate.css">
<div class="container-fluid">
    <div class="row align-items-center divSmoove" style="height: 500px;">
        <div class="col-2 col-sm-2 col-md-1 col-lg-1">
            <img class="d-md-none" src="/public/image/page/cabin.png" height="500px">
            <img class="d-none d-md-inline">
        </div>
        <div class="col-8 col-sm-8 col-md-6 col-lg-5">
            <h5 class="display-4 mb-3"><b>Connection between exhibitor and vendor!</b></h5>
            <p class="mb-3" style="font-family: sans-serif;">We make your show easier. Exhibitors can find the most suitable price from all listing vendors; vendors can enter bigger markets and find more jobs.</p>
            <button id="exhibitorTabBtn" class="btn btn-primary col-12 col-md-5 mb-3 navBtn" navto="exhibitorTab">Be a Exhibitor</button>
            <button id="vendorTabBtn" class="btn btn-outline-primary col-12 col-md-5 mb-3 navBtn" navto="vendorTab">Be a Vendor</button>
        </div>
        <div class="col-2 col-sm-2 col-md-5 col-lg-6">
            <img class="d-md-none" src="/public/image/page/carpet.png" height="500px">
            <img class="d-none d-md-inline" src="/public/image/page/mirror.png" height="500px">
        </div>
    </div>
    <div class="row bg-dark align-items-center" style="height: 150px;">
        <div class="d-none d-lg-inline col-lg-4 text-center">
            <!--<div class="row">
                <div class="align-self-center" id="exhibitorCountNum">
                </div>
            </div>
            <div class="row">
            <div class="align-self-center text-white">
                Exhibitors
            </div>
            </div>-->
            <span class="align-middle" id="exhibitorCountNum">
            </span>
            <span class="text-light">
                Exhibitors
            </span>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
            <span class="align-middle" id="showsCountNum">
            </span>
            <span class="text-light">
                Shows
            </span>
        </div>
        <div class="d-none d-md-inline col-md-6 col-lg-4 text-center">
            <span class="align-middle" id="vendorCountNum">
            </span>
            <span class="text-light">
                Vendors
            </span>
        </div>
    </div>
    <div class="row align-items-center divSmoove" id="exhibitorTab">
        <div class="d-lg-none col-md-12" style="background-image: url('/public/image/page/exhibitorIntro.jpg'); height:500px; background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
        <div class="offset-lg-1 col-md-12 col-lg-4 align-self-center">
            <h5 class="mb-3"><b>Exhibit with Booth Hunter</b></h5>
            <h3 class="mb-3"><b>Choose the one that suits you best</b></h3>
            <p class="mb-3" style="font-family: sans-serif;">List all of your job on Booth Hunter, and you can access to hundreds of feedback-rated vendors who compete for your jobs, so you can pick the one you are most satisfied with from the budgets given by all vendors.</p>
            <button id="exhibitorSignInBtn" class="btn btn-outline-primary col-12 col-md-5 mb-3">Sign In</button>
            <button id="exhibitorSignUpBtn" class="btn btn-primary col-12 col-md-5 mb-3">Sign Up</button>
        </div>
        <div class="d-none d-lg-inline col-lg-7" style="background-image: url('/public/image/page/exhibitorIntro.jpg'); height:500px; background-size: cover; background-repeat: no-repeat; background-position: center;">
            <!--<img src="/public/image/page/exhibitorIntro.jpg" height="500px">-->
        </div>
    </div>
    <div class="row align-items-center divSmoove" id="vendorTab">
        <div class="col-md-12 col-lg-7" style="background-image: url('/public/image/page/vendorIntro.jpg'); height:500px; background-size: cover; background-repeat: no-repeat; background-position: center;">
        </div>
        <div class="col-md-12 col-lg-4">
            <h5 class="mb-3"><b>Manufacture with Booth Hunter</b></h5>
            <h3 class="mb-3"><b>Be the master of your domain</b></h3>
            <p class="mb-3" style="font-family: sans-serif;">Give a quotation, wait for a reply, concentrate on the what you doing. You no longer have to worry about not enough workload, you will always find a job that suits you on Booth Hunter.</p>
            <button id="vendorSignInBtn" class="btn btn-outline-primary col-12 col-md-5 mb-3">Sign In</button>
            <button id="vendorSignUpBtn" class="btn btn-primary col-12 col-md-5 mb-3">Sign Up</button>
        </div>
    </div>
    <div class="row align-items-center bg-dark" style="height: 150px;">
        <span class="col text-light text-center">
            1. Post Jobs
        </span>
        <span class="col">
            <hr class="my-4 bg-light">
        </span>
       <span class="col text-light text-center">
            2. Sign Contract
        </span>
        <span class="col">
            <hr class="my-4 bg-light">
        </span>
        <span class="col text-light text-center">
            3. Pay the Bills
        </span>
        <span class="col">
            <hr class="my-4 bg-light">
        </span>
        <span class="col text-light text-center">
            4. Finish
        </span>
    </div>
    <div class="row align-items-center divSmoove" style="height: 500px;">
        <div class="col-2 col-md-3">

        </div>
        <div class="col-8 col-md-6">
            <h3 class="display-3 mb-3 text-center">About us</h3>
            <p class="mb-3" style="font-family: sans-serif;">dasdadda dsa  dsa fasfasdasdasd asd as sa as asdas as das a as a dasdas dsadasd a as dasd asd asd as das das das as das sad sad asd asd asd as da a dad as s das dad dsadasdad.</p>
            <div class="text-center">
                <button id="aboutUsBtn" class="btn btn-outline-primary col-12 col-md-5 mb-3">About Us</button>
            </div>
        </div>
        <div class="col-2 col-md-3">
            
        </div>
    </div>
    <!--<div class="row align-items-center divSmoove" style="height: 500px;">
        <div class="offset-2 col-8 shadow" style="border-style: solid; border-color: lightgray; border-width: 1px">
            <form id="suggestionsForm">
                <h3 class="display-3 mb-3 text-center">Contact Us</h3>
                <div class="contactUsAlert container-fluid"></div>
                <div class="form-group">
                    <label for="sugName">Your Name:</label>
                    <input type="text" id="contactName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="contactText">Your Messages:</label>
                    <textarea class="form-control" id="contactText" rows="4"></textarea>
                </div>
                <div class="text-center">
                    <button id="contactSubmit" class="btn btn-primary col-12 col-md-5 mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>-->
</div>
<script src="../../public/js/numberAnimate.js"></script>
<script>
    /*$("#exhibitorTabBtn").click(function() {
        $(location).attr("href", "#exhibitorTab");
    });
    $("#vendorTabBtn").click(function() {
        $(location).attr("href", "#vendorTab");
    });*/
    $('.navBtn').click(function() {
	    var navto = $(this).attr('navto');
        if(navto != "#") {
            var $div = $('#' + navto);
            var top = $div.offset().top || 0;
            $('html,body').animate({
                'scroll-top': top - 50
                }, 500);
        }
        else {
            $('html,body').animate({
                'scroll-top': 0
            }, 500);
        }
	});
    $("#exhibitorSignInBtn").click(function(e) {
        e.preventDefault();
        $("#signin").modal('show');
    });
    $("#vendorSignInBtn").click(function(e) {
        e.preventDefault();
        $("#signin").modal('show');
    });
    $("#exhibitorSignUpBtn").click(function(e) {
        e.preventDefault();
        $(location).attr("href", "/signup?name=exhibitor");
    });
    $("#vendorSignUpBtn").click(function(e) {
        e.preventDefault();
        $(location).attr("href", "/signup?name=vendor");
    });
    $("#aboutUsBtn").click(function(e) {
        $(location).attr("href", "/aboutus?tab=introduction");
    });
    $(".divSmoove").smoove({
        offset: '50%'
    });
    $("#exhibitorCountNum").numberAnimate({
        num: 400,
        speed: 2000
    });
    $("#showsCountNum").numberAnimate({
        num: 1000,
        speed: 2000
    });
    $("#vendorCountNum").numberAnimate({
        num: 600,
        speed: 2000
    });
</script>