{{!-- <div class="container-fluid" >
    
    <div class="block row">
        <div class="blockleft col-md-6">
            <p>Exhibitor</p>
            <button>Sign In</button>
        </div>
        <div class="blockright col-md-6">
            <p>Vendor</p>
            <button>Sign Up</button>
        </div>
    </div>
    <div class="row">
        intro
    </div>
    <div class="row">
        details
    </div>
</div> --}}


<div class="container-fluid" >
    
    <div id="images">
        <img class="mainpageImage" border = "0" alt="exhibitorImage" src="/public/image/page/exhibitor.jpg"/></a>
        <img class="mainpageImage" border = "0" alt="vendorImage" src="/public/image/page/vendor.jpg"/></a>
    </div>
    <div class="row">
        <div class="blockleft col-md-6">
            <p>Exhibitor</p>
            <button>Sign In</button>
        </div>
        <div class="blockright col-md-6">
            <p>Vendor</p>
            <button>Sign Up</button>
        </div>
    </div>
    <div class="row">
        intro
    </div>
    <div class="row">
        details
    </div>
</div>