<div class="container-fluid">
    <div class="imageContainer1">
        <img class="exhibitorImg" border="0" alt="exhibitorImage" src="/public/image/page/exhibitor.jpg" />
        <div class="overlay">
            <div class="text">As an exhibitor. <br />Need help to exhibit your idea? <br /><a class="signUpLink" href="/signup">Sign Up</a> To Explore!<br /><br />
                <h6>Already a memeber? <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#signin">Sign in.</a></h6>
            </div>

        </div>
    </div>
    <div class="imageContainer2">
        <img class="vendorImg" border="0" alt="vendorImage" src="/public/image/page/vendor.jpg" />
        <div class="overlay">
            <div class="text">As a vendor. <br />Eager to implement people's idea? <br /><a class="signUpLink" href="/signup">Sign
                    Up</a> To Explore!<br /><br />
                <h6>Already a memeber? <a class="btn btn-warning" href="#" data-toggle="modal" data-target="#signin">Sign in.</a></h6>
            </div>
        </div>
    </div>

    <div class="textContainer" id="messenger">
        <div class="introText">
            <h1 id="h1"><span id="I">I</span>ntroduction</h1>
            <h4>An exhibition, in the most general sense, is an organised presentation and display of a selection of
                items. In practice, exhibitions usually occur within a cultural or educational setting such.</h4>
        </div>
        <div class="detailText">
            <h1 id="h1"><span id="D">D</span>etails</h1>
            <h4>An exhibition, in the most general sense, is an organised presentation and display of a selection of
                items. In practice, exhibitions usually occur within a cultural or educational setting such.</h4>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.textContainer').smoove({
                offset: '50%'
            });
        })
    </script>
</div>
