<div class="container">
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3">
            <h4>sadafs fa sg asew fas</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <p>ckjnfas askda asam asn saje nwji ejw niwqh  iwh ljwqh jlhe wqh ioheo wqh owhe woqeh wqheouqwh owqheoiwqhehqwo ko nko qoweqwo oh owh oqw ewohe o b eowqheo hwq owqheowqh qwob eowhe oqwhe oqwh eo hqwo </p>
        </div>
        <div class="col-md-6 mb-3" style="text-align: right;">
            <img src="/public/image/categoryImage/cabin.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-2">
            <label for="proSize">Size:</label>
            <select class="form-control" id="proSize" name="proSize">
                <option>10"</option>
                <option>11"</option>
                <option>12"</option>
                <option>13"</option>
                <option>14"</option>
                <option>15"</option>
                <option>15.6"</option>
                <option>17"</option>
            </select>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
</div>