<script src="/public/js/orderPage.js"></script>
<div class="container">
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" id="proName" pid={{id}}>
            <h4>{{tabName}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3" id="proDes">
            <p>{{descript}}</p>
        </div>
        <div class="col-md-6 mb-3" style="text-align: right;">
            <img src="/public/image/vendor/{{avatar}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mb-3">
            <label for="proSize">Size:</label>
            <select class="form-control" id="proSize" name="proSize">

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mb-3">
            <label for="proMount">Quantity:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button id="minusNum" class="btn btn-outline-secondary" type="button">-</button>
                </div>
                <input id="count" type="text" class="form-control" value="1" style="text-align: center;" readonly="readonly">
                <div class="input-group-append">
                    <button id="plusNum" class="btn btn-outline-secondary" type="button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <p><b>Total Price: </b><span id="price"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <button class="btn btn-light">Submit</button>
        </div>
    </div>
</div>
</div>