div.tabTitle {
    padding-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px; 
}
.operator {
    margin-bottom: 20px;
}
.containPage {
    width: 75%;
    margin: auto;
}
div.currentTab {
    
    border: 1px solid #c0c0c0;
    padding: 60px;
    margin-bottom: 30px;
}

div.guitarTabContent{
    margin: auto;
    padding-left: 10%;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.line {
    border-top: 1px  solid black;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.rating {
    float: right;
    margin-bottom: 30px;
}