/* Container holding the image and the text */
/* .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  /* .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  } */
  
  /* Top left text */
  /* .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  } */
  
  /* Top right text */
  /* .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  } */
  
  /* Bottom right text */
  /* .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  } */
  
  /* Centered text */
  /* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */ 

  /* Container holding the image and the text */
.container-fluid {
    position: relative;
  }
  .container-fluid img{
    height: 400px;
    width: 100%;
  }
  
  /* Bottom right text */
  .text-block{
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .text-block-bottom{
    position: static;
    top: 10px;
    text-align: right;
    background-color: black;
    
    color: white;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 2px;
  }