html {
    height: 100%;
}
body {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    padding: 20px;
}
#footer {
    flex-shrink: 0;
    padding: 20px;
}
footer {
    background-color: #ffffff;
    text-align: center;
}

#avatarArea {
    height: 200px;
    border: 1px solid black;
}

.img{
    width: auto;
    height: auto;
}